@using blogWebsite
@model Post

<div class="container">
    <div class="row justify-content-center">
        <div class="col-mid-10 w-75">
            <form method="post" asp-controller="Admin" asp-action="updatePost">

                <div class="form-group">
                    <label class="form-label" asp-for="Id"></label>
                    <input class="form-control" asp-for="Id" />
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" asp-for="Title"></label>
                            <input class="form-control" asp-for="Title" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" asp-for="SubTitle"></label>
                            <input class="form-control" asp-for="SubTitle" />
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" asp-for="Date"></label>
                            <input class="form-control" asp-for="Date" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" asp-for="Slug"></label>
                            <input class="form-control" asp-for="Slug" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Image"></label>
                    <input class="form-control" asp-for="Image" />
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Content"></label>
                    <textarea class="form-control" asp-for="Content" id="editor">

                    </textarea>
                </div>
                <a class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal" >Update Post</a>
                <a class="btn btn-danger" asp-action="AllPost" asp-controller="Admin">Cancel</a>

                <!-- Update Modal-->
                <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Update Post?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Click "Confirm Update" below if you are ready to Update The Blog.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" type="submit">Confirm  Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
